body {
    background-color: #fff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  
  .PhoneContainer {
    margin: 30px 40px 20px;
    padding: 20px;
    display: flex;
    width: 90%;
    height: fit-content;
  }
  
  .PhoneContainer .PhoneDetails {
    margin-left: 70px;
  }
  .ImgContainer > img {
    width: 420px;
    height: 420px;
  }
  
  .ImgContainer {
    width: fit-content;
    height: fit-content;
    list-style: none;
  }
  
  .PhoneDetails {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .PhoneDetails .PhoneStock{
      color: #d40f2d;
  }
  .MoreDetails {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 12px;
    gap: 7px;
  }
  
  .MoreDetails span {
    display: inline;
    font-size: 15px;
  }
  
  .MoreDetails > span:first-child {
    font-weight: bolder;
    font-size: 17px;
  }
  .PhoneDetails > button {
    width: 400px;
    height: 44px;
    text-align: center;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: large;
    border-radius: 20px;
    cursor: pointer;
  }
  .PhoneDetails > span,
  .PhoneDetails > span > span {
    display: inline;
    font-size: 18px;
  }
  
  .PhoneDetails > span:first-child {
    font-weight: bolder;
    font-size: 25px;
  }
  .QantiteDiv label{
      font-size: 18px;
  }
  .InpCont {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 2px;
  }
  .InpCont button{
      width: 25px;
      height: 32px;
      cursor: pointer;
      outline: none;
      border: none;
      background-color: transparent;
      font-size: large;
  }
  .InpCont input{
      width: 20px;
      height: 32px;
      outline: none;
      border: none;
      font-size: 15px;
  }
  
  .InpCont input::-webkit-outer-spin-button,
  .InpCont input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  span.PhonePrice , span.PhonePrice > span{ 
      font-size: 29px;
      font-weight: 700;
      margin-right: 10px;
      color: #000;
  }
  .NoPhoneInStock{
      background-color: #EDF6E7;
      width: 55px;
      height: 20px;
      padding-top: 6px;
      padding-left: 20px;
      border-radius: 10px;
      background-image: url("/Photo/close\ \(1\).png");
      background-repeat: no-repeat;
      background-position: 13px 7px;
      background-size: 9px 9px;
      text-align: center;
      display: none;
  }
  /* -------------Table-------------------------- */
  .AllPhoneDetails {
    width: 97%;
    height: fit-content;
    margin: 10px auto auto 25px;
    border-collapse: collapse;
  }
  
  .AllPhoneDetails caption {
    left: 0;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .AllPhoneDetails,
  .AllPhoneDetails tr td {
    border-left: none;
    border-right: none;
    border-top: none;
  }
  
  .AllPhoneDetails tr td {
    padding: 15px;
  }
  .AllPhoneDetails td:last-child {
    width: 60%;
    height: fit-content;
  }
  .AllPhoneDetails td {
    color: #4a4a4a;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .containerParent {
    margin: 20px auto auto 5px;
    padding: 20px;
    max-width: 95%;
    width: fit-content;
    height: fit-content;
  }

  .PanierDivParent{
    width: 365px;
    height: 441px;
    border-radius: 10px;
    background-color: black;
    margin-left: 10px;
    box-shadow :0 0 40px 0 rgba(0,0,0,.22);
    position: fixed;
    top: 90px;
    right: 30px;
    overflow: hidden;
    z-index: 1;
    visibility:hidden;
  }
  
  
  .PanierDivParent .ClosePanierDiv{
    width: 100%;
    height: 5%;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.22);
  }
  .PanierDivParent .ClosePanierDiv p {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #535c68;
  }
  
  .PanierDivParent .ClosePanierDiv .ClosePanierBTN{
    position: absolute;
    right: 5px;
    top: 3px;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background-image: url("/Photo/close.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
  }
  
  
  .PanierDivParent .PanierDivProdects{
    width: 100%;
    height: 76%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  
  /* .PanierDivParent .PanierDivProdects::-webkit-scrollbar{
    display: none;
  } */
  
  
  .PanierDivParent .PanierDivTotalPrice{
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(5,16,55,.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }
  
  .PanierDivParent .PanierDivTotalPrice > div{
    display: flex;
    justify-content: center;
    gap: 280px;
    margin-top: 5px;
  
  }
  
  .PanierDivParent .PanierDivTotalPrice > div span:first-child , .pName{
    font-size: 16px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
  }
  
  .PanierDivParent .PanierDivTotalPrice > div span:last-child , .PanierDivProdects ul li .PanierProdectPrice , .pMarque{
    font-weight: bold;
    font-size: 16px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
  }
  .pName{
    font-size: 11px;
  }
  .GoToPanier{
    width: 90%;
    height: fit-content;
    background: #d40f2d;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
  }
  .PanierDivParent .PanierDivTotalPrice span{
    display: inline-block;
  }
  .PanierDivParent .PanierDivTotalPrice a{
    margin-bottom: 7px;
  }
  
  .PanierDivProdects img.ProdectImg{
    width: 85px;
    height: 85px;
  }
  
  
  .PanierDivProdects > ul{
    width: 100%;
    height: 39%;
    display: flex;
    gap: 20px;
    padding: 10px;
    border: none;
    position: relative;
    margin-bottom: 15px;
  
  }
  hr{
    width: 90%;
    margin: 0 auto;
  }
  
  
  .DeleteProdect{
    position: absolute;
    right: 40px;
    top: 15px;
  }
  
  
  .PanierDivProdects li ul {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  
  li span{
    display: inline;
  }
  
  .DeleteProdect{
    background-image: url("/Photo/delete\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    right: 22px;
    top: 50px;
  }
  .qDIV{
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    margin-left: -95px;
  }
  
  .PanierTotalPrice{
    margin-left: -70px;
  }

  .containerParent {
    margin: 70px auto;
    max-width: 96%;
    width: fit-content;
    height: 430px;
    background-color: #fff;
    display: flex ;
    flex-direction: column;
  }
  
  .containerHeader {
    color: #fff;
    padding: 10px;
    font-size: 25px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
      Helvetica Neue, Arial, sans-serif;
  }
  
  .headPhone {
    display: flex;
    flex-direction: column;
  }
  
  .headPhone span.productName {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  
  .headPhone span.productMarque:not(.productName) {
    color: #333;
    font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  .headPhone span.prodectPrice {
    color: #d40f2d;
    font-size: 20px;
    font-weight: 600;
  }