#toast {
    position: fixed;
  
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .visible {
    opacity: 1;
  }
  
  .hidden {
    display: none;
  }